nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #167e77;
  width: 100%;
  border: #000 solid 2px;
}

nav .nav{
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 20px;
  width: 100%;

}

.nav-edit{
  background:rgb(129, 42, 42);
  width: 100%;
  border: #000 solid 2px;    
}

.nav-home{
  display: flex;
  flex-direction: column;

}

nav ul li {
  display: inline-block;
  line-height: 80px;
  /* margin: 0 5px; */
}

nav ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 100px;
  text-transform: uppercase;
}
a.active,a:hover {
   background:lightgrey;
   transition: .3s;
   color: #000;
   border-radius: 5px;
}